.attendance-detail-container {
    margin: 0 auto;
    padding: 50px 250px;
    background-color: #F0EFF2;
    min-height: 100vh;
}

.attendance-detail-header {
    margin-bottom: 30px;
    text-align: left;
}

.attendance-detail-header h1 {
    margin: 0;
    color: #000000;
    font-size: 1.5em;
    border-left: 8px solid #000000;
    padding-left: 10px;
    margin-bottom: 10px;
}

.attendance-detail-table {
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #E1E1E1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 20px 50px;
    text-align: left;
    font-weight: bold;
    color: #737373;
    border-bottom: 2px solid #E1E1E1;
    width: 30%;
}

td {
    padding: 20px;
    border-bottom: 2px solid #E1E1E1;
    color: #000000;
    font-weight: bold;
}

tr:last-child th,
tr:last-child td {
    border-bottom: none;
}

.time-inputs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.time-input {
    display: flex;
    align-items: center;
}

.time-display {
    min-width: 60px;
    text-align: left;
}

.time-inputs label {
    font-weight: bold;
    color: #333;
    font-size: 16px;
    margin: 0 5px;
}

.notes-content {
    white-space: pre-wrap;
    max-width: 300px;
    word-wrap: break-word;
}

.no-data {
    color: #6c757d;
    font-style: italic;
}

.break-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.break-time {
    font-weight: bold;
}

.break-notes {
    color: #737373;
}

.attendance-detail-actions {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    background: #000000;
    color: #FFFFFF;
    padding: 8px 40px;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
}

.btn-secondary {
    background: #696969;
    color: #FFFFFF;
    border: 2px solid #696969;
}


.date-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

.date-year-section {
    margin-right: 40px;
}

.date-month-day-section {
    display: flex;
    align-items: center;
}

.time-start {
    font-weight: bold;
}

.time-separator {
    margin: 0 30px;
    color: #000000;
}

.time-end {
    font-weight: bold;
}