.admin-body {
    background-color: #F0EFF2;
}

.admin-header {
    background-color: #000000;
}

.admin-header .header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-header .header-nav__link {
    color: #ffffff;
}

.admin-main {
    min-height: calc(100vh - 80px);
}

@media screen and (max-width: 1540px) and (min-width: 1400px) {
    .admin-main {
        min-height: calc(100vh - 70px);
    }
}

@media screen and (max-width: 850px) and (min-width: 768px) {
    .admin-main {
        min-height: calc(100vh - 60px);
        padding: 15px;
    }

    .admin-header .header__logo {
        gap: 8px;
    }
}